name: CI
on:
  pull_request:
  push:
    branches:
      - main

env:
  DOCKER_USERNAME: suimi34
  DOCKER_IMAGE: version8

jobs:
  scan_ruby:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      - name: Scan for common Rails security vulnerabilities using static analysis
        run: bin/brakeman --no-pager

  scan_js:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      - name: Scan for security vulnerabilities in JavaScript dependencies
        run: bin/importmap audit

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      - name: Lint code for consistent style
        run: bin/rubocop -f github

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: set up test db
        run: make test_db
      - name: set up test web
        run: make test_web && make test_bundle
      - name: set up test web asset
        run: make test_precompile
      - name: set up test migrate
        run: make test_migrate
      - name: run rspec
        run: make rspec

  build_dev:
    runs-on: ubuntu-latest
    needs: [scan_ruby, scan_js, lint, test]
    if: github.ref != 'refs/heads/main'

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Build Docker image
        run: docker build -f Dockerfile.prod -t ${{ env.DOCKER_USERNAME }}/${{ env.DOCKER_IMAGE }}:dev .

  build_and_push_docker_image:
    runs-on: ubuntu-latest
    needs: [scan_ruby, scan_js, lint, test]
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -f Dockerfile.prod \
            -t ${{ env.DOCKER_USERNAME }}/${{ env.DOCKER_IMAGE }}:prod \
            .

      - name: Push to Docker Hub
        run: |
          docker push ${{ env.DOCKER_USERNAME }}/${{ env.DOCKER_IMAGE }}:prod
